
.modal-pop-back{
    position: relative;
    width: 715px;
    min-height: 200px;
    height: auto;
    border: 1px solid #ccc;
    margin: 0px auto;
    margin-top: 30px;
    overflow-y: scroll;
    background: #ddd;
    overflow: hidden;
    outline: none;
 }

.ReactModal__Overlay{
 background-color: #584f4fc9 !important;
opacity: 0;
 transform: translateY(-10px);
  transition: all 500ms ease-in-out;
 }
.ReactModal__Overlay--after-open {
opacity: 1;
 transform: scale(1);
  }
 .ReactModal__Overlay--before-close {
 opacity: 0;
transform: translateY(0px);
 }
.selected{
     background-color: #c5c5c5 !important;
    
 }
    
    
    