.submenu:hover {
  background-color: #fff3e1;
}
.menuTxt {
  color: #454545;
}
.submenu:hover .menuTxt {
  color: #ff7624;
}
.submenu:hover .submenuImg path {
  fill: #ff7624;
}
.glaimg{
    visibility: hidden;
}
.submenu:hover .glaimg{
    visibility: visible;
}